// colors
$bg-dark: #242424;
$bg-grey: #3b3b3b;
$accent: #ff7600;

//font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

//border-radius
$base-border-radius: 20px;