@import "./buttons";
@import "./burger";
@import "./variables";

* {
    color: inherit;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-size: $base-font-size;
    font-family: "IBM Plex Sans";
}

button {
    font-family: inherit;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea {
    font-size: 16px !important;
    border-radius: 3px;
    border: none;
    padding: 1px 5px;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
    display: block;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.632);
    z-index: 2;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.margin0{
    margin: 0 !important;
}